In [ ]:
Q26. What is a string? How can we declare string in Python?

String is the group of characters which should be declare within single or double quotes.
Ex:
    name='Mukesh'

In [ ]:
Q27. How can we access the string using its index?

(Assumed question is about accessing characters within string.)

We can use index position to access characters of string
name='Mukesh'
name[0]

In [8]:
'''
Q28. Write a code to get the desired output of the following

string = "Big Data iNeuron"
desired_output = "iNeuron"
'''
str="Big Data iNeuron"
ind=str.find('iNeuron')
print(str[ind:])

iNeuron

In [22]:
'''Q29. Write a code to get the desired output of the following

string = "Big Data iNeuron"
desired_output = "norueNi"
'''
str="Big Data iNeuron"
ind=str.find('iNeuron')
new_str=str[ind:]
print(new_str[::-1])

norueNi

In [23]:
#Q30. Resverse the string given in the above question.
#string = "Big Data iNeuron"

str="Big Data iNeuron"
print(str[::-1])

norueNi ataD giB

In [35]:
#Q31. How can you delete entire string at once?

name='Mukesh'
del name
name

NameError: name 'name' is not defined

In [ ]:
#Q32. What is escape sequence?

Characters following by \ (backslash) called escape characters.
Escape sequences are the special characters which is used for spacing purpose or to use quotes within string

In [38]:
'''
Q33. How can you print the below string?

'iNeuron's Big Data Course'
'''

#Here the concept of escape characters comes into pictures. We can use \' to print above string
Str='iNeuron\'s Big Data Course'

In [ ]:
Q34. What is a list in Python?

List is the indexed collection of hetergenous objects data elements. It can store multipe data types objects within a single
entity and can be referenced by using index.

l=[22,'Mukesh',False,33.5]

In [39]:
#Q35. How can you create a list in Python?

l=[22,'Mukesh',False,33.5]

In [ ]:
Q36. How can we access the elements in a list?

We can access by using index position of elements.

In [41]:
'''
Q37. Write a code to access the word "iNeuron" from the given list.

lst = [1,2,3,"Hi",[45,54, "iNeuron"], "Big Data"]
'''

lst = [1,2,3,"Hi",[45,54, "iNeuron"], "Big Data"]

print(lst[4][2])

iNeuron

In [12]:
#Q38. Take a list as an input from the user and find the length of the list.


No_of_input=int(input("Enter the no of Input values "))
lst=[]
for i in range(0,No_of_input):
    lst.append(input("Enter values "))

print('Length of List is: ',len(lst))

Enter the no of Input values 3
Enter values 22
Enter values 34
Enter values 5
Length of List is:  3

In [15]:
'''
Q39. Add the word "Big" in the 3rd index of the given list.

lst = ["Welcome", "to", "Data", "course"]
'''
lst = ["Welcome", "to", "Data", "course"]
lst.insert(3,"Big")
print(lst)

['Welcome', 'to', 'Data', 'Big', 'course']

In [ ]:
#Q40. What is a tuple? How is it different from list?

Tuple is excatly same as list but the only differences is Immutability. Tuple is also a indexed collection of hetrogenous 
data elements. Tuple is Immutable means once we defined, we can't reassign values.

In [17]:
#Q41. How can you create a tuple in Python?

tpl=('Mukesh',77,False)

In [21]:
#Q42. Create a tuple and try to add your name in the tuple. Are you able to do it? Support your answer with reason.

tpl=(33,False,88.7)

tpl[1]="Mukesh"

Tuple is Immutable, So once we create tuple we can't reassign values to it.

TypeError: 'tuple' object does not support item assignment

In [26]:
#Q43. Can two tuple be appended. If yes, write a code for it. If not, why?

tpl_1=("Mukesh",66)
tpl_2=("Kumar",33)
tpl_1+tpl_2

('Mukesh', 66, 'Kumar', 33)

In [40]:
#Q44. Take a tuple as an input and print the count of elements in it.


tpl= tuple(input("Enter Tuple values "))
len(tpl)

Enter Tuple values Mukesh

6

In [ ]:
#Q45. What are sets in Python?

Set is the unordered, unindexed collection of heterogenous data elements. We can't have duplicates values in set

In [43]:
#Q46. How can you create a set?

s={'Mukesh',33,False}

In [48]:
#Q47. Create a set and add "iNeuron" in your set.

s={'Mukesh',33,False}

s.add("iNeuron")
s

{33, False, 'Mukesh', 'iNeuron'}

In [57]:
#Q48. Try to add multiple values using add() function.

s={'Mukesh',33,False}
s.add("Kumar")
s.add(55)
s.add(44.7)
s

{33, 44.7, 55, False, 'Kumar', 'Mukesh'}

In [ ]:
#Q49. How is update() different from add()?

In [ ]:
#Q50. What is clear() in sets?

Clear method is used to clear all the elements within set. It won't delete set variable just data will be wiped out.

In [ ]:
#Q51. What is frozen set?

The frozenset function returns an unchangeable frozenset object which is like a set object, only unchangeable. We can't assign any values
to frozenset objects

In [ ]:
#Q52. How is frozen set different from set?

Frozenset is similar to set in Python, only differences is frozensets are immutable,
which means that once generated, elements from the frozenset cannot be added or removed.

In [58]:
#Q53. What is union() in sets? Explain via code.

#Union is usefull when we want to combined two different sets into one set. Common values in sets will be counted one times in final
#set.

s1={"Mukesh",77,99}
s2={"Kumar",33,99}

s1.union(s2)

{33, 77, 99, 'Kumar', 'Mukesh'}

In [61]:
#Q54. What is intersection() in sets? Explain via code.

#Intersection will return the common values between two different sets. 

s1={"Mukesh",77,99}
s2={"Kumar",33,99}

s1.intersection(s2)

{99}

In [ ]:
#Q55. What is dictionary in Python?

Dictionary is the pre defined data structure which store data in key values pairs.

In [ ]:
#Q56. How is dictionary different from all other data structures.

The major differences is All others data structures store data and we can use index to get it but In Dictionary data stored in
key values pairs. So user can use key to retrieve corresponding values from Dict.

In [70]:
#Q57. How can we delare a dictionary in Python?

d={"name":"Mukesh","Add":"Bettiah"}
d

{'name': 'Mukesh', 'Add': 'Bettiah'}

In [ ]:
'''
Q58. What will the output of the following?

var = {}
print(type(var))
'''
--> Dict

In [73]:
#Q59. How can we add an element in a dictionary?

d={"name":"Mukesh","Add":"Bettiah"}
d["Ph"]="9907"
d

{'name': 'Mukesh', 'Add': 'Bettiah', 'Ph': '9907'}

In [83]:
#Q60. Create a dictionary and access all the values in that dictionary.

d={"name":"Mukesh","Add":"Bettiah"}

for i,j in d.items():
 print(i,j)

name Mukesh
Add Bettiah

In [97]:
#Q61. Create a nested dictionary and access all the element in the inner dictionary.

d={"Person1":{"Name":"Mukesh","Add":"BTH"}, "Person2":{"Name":"Ravi","Add":"DLI"}}

for i,j in d.items():
    print(i,j)

Person1 {'Name': 'Mukesh', 'Add': 'BTH'}
Person2 {'Name': 'Ravi', 'Add': 'DLI'}

In [89]:
#Q62. What is the use of get() function?

Get function is used to get values from the specified keys.

'Mukesh'

In [ ]:
#Q63. What is the use of items() function?

The items() method returns a view object. The view object contains the key-value pairs of the dictionary, as tuples in a list.

In [103]:
#Q64. What is the use of pop() function?
pop function removes values form the specified key/index and return same values. 

l=[33,55,88]
d={"name":"mukesh","Age":66}
l.pop(1)
l
d.pop("name")
d

{'Age': 66}

In [107]:
#Q65. What is the use of popitems() function?

So pop function remove last inserted values in dictionary.
d={"name":"mukesh","Age":66}
d.popitem()
d

{'name': 'mukesh'}

In [ ]:
#Q66. What is the use of keys() function?

Key function returns the keys of dictionary as a list. So we can use the returend key to get the corresponding values.

In [ ]:
#Q67. What is the use of values() function?

Values function return values of dictionary as a List.

In [ ]:
#Q68. What are loops in Python?

Loops is the iterative ststements which executes untill the given is False.

In [ ]:
#Q69. How many type of loop are there in Python?

Two types of loops in python:
1. for loop
2. while loop

In [ ]:
#Q70. What is the difference between for and while loops?

for will be used when we know the no of iteration that the loop is going to run, But in case of while we don't know the no 
of iteration beforehead.

In [ ]:
#Q71. What is the use of continue statement?

Continue statement skip the current execution and continue for next iteration.

In [ ]:
#Q72. What is the use of break statement?

Break statement is used to stop loop iteration and come out from loop when encountered.

In [ ]:
#Q73. What is the use of pass statement?

The pass statement is used as a placeholder for future code. When the pass statement is executed, nothing happens, but you avoid getting an error when empty
code is not allowed.

In [ ]:
#Q74. What is the use of range() function?

Range function return the no of sequences starting from 0 to the specified number with the step size of 1.

In [ ]:
#Q75. How can you loop over a dictionary?

To iterate over dictionary, we need two loop variable to access keys as well values

d={"Person1":{"Name":"Mukesh","Add":"BTH"}, "Person2":{"Name":"Ravi","Add":"DLI"}}

for i,j in d.items():
    print(i,j)

In [5]:
#Q76. Write a Python program to find the factorial of a given number.

input_no=int(input("Enter a Number: "))
fact=1
n=1
while(input_no>0):
 if(input_no==1 | input_no==0 ):
  print(n)
 fact=fact*input_no
 input_no=input_no-1
    
print(fact)

Enter a Number: 0
1

In [11]:
#Q77. Write a Python program to calculate the simple interest. Formula to calculate simple interest is SI = (PRT)/100

Prncpl=int(input("Enter principle Number"))
year=int(input("Enter Year"))
Rate=10
SI=(year*Rate*Prncpl)/100
print(SI)

Enter principle Number100
Enter Year1
10.0

In [37]:
#Q78. Write a Python program to calculate the compound interest. Formula of compound interest is A = P(1+ R/100)^t.


def compound_Int(p,t):
    rate=10
    c_int= (1+rate/100)
    fin=c_int*p
    return fin

pri=int(input("Enter Principle Amount"))
time=int(input("Enter Time Period"))
compound_Int(pri, time)

Enter Principle Amount1000
Enter Time Period2

1100.0

In [63]:
#Q79. Write a Python program to check if a number is prime or not.


def IsPrime(no):
    if(no==0):
        print("Neither Prime nor Composite Number")
    
    count=0
    for i in range(1,no+1):
        
        if(no%i==0):
            count=count+1
    if(count==2):
     print(no, "is PrimeNumber")
    else:
     print("Not a Prime")

input_no=int(input("Enter A Number: "))
IsPrime(input_no)

Enter A Number: 3
3 is PrimeNumber

In [3]:
#Q80. Write a Python program to check Armstrong Number.

def ISArmstrong(no):
    sum_val=0
    while(no>0):
        a=no%10
        sum_val=sum_val+(a**3)
        no=no//10

    return sum_val    
  
input_no=int(input("Enter A Number"))
num=ISArmstrong(153)
if(num==input_no):
    print("ArmStrong Number")
else:
    print("Not a ArmStrong Number")

Enter A Number222
Not a ArmStrong Number

In [23]:
#Q81. Write a Python program to find the n-th Fibonacci Number.

num1=0
num2=1
sum=0
input_no=int(input("Enter the no of Fibbonacci seried want to print"))

if(input_no==0):
    print(num1)
if(input_no==1):
    print(num2)
            
for i in range(1,input_no+1):
   if(input_no>=2):
     sum=num1+num2
     num1=num2
     num2=sum
     print(sum)

Enter the no of Fibbonacci seried want to print10
1
2
3
5
8
13
21
34
55
89

In [24]:
#Q82. Write a Python program to interchange the first and last element in a list.

l=["mukesh",44,100,33]

temp=l[0]
l[0]=l[3]
l[3]=temp
l

[33, 44, 100, 'mukesh']

In [75]:
#Q83. Write a Python program to swap two elements in a list.

l=["mukesh",44,100,33]

temp=l[0]
l[0]=l[3]
l[3]=temp
l

1

In [31]:
#Q84. Write a Python program to find N largest element from a list.

l=[22,99,55,66,88]
no=int(input("Enter your No"))

l.sort()
l[-no:]

Enter your No1

[99]

In [40]:
#Q85. Write a Python program to find cumulative sum of a list.

l=[22,99,55,66,88]

new_list=[]
j=0
for i in l:
    j=j+i
    new_list.append(j)
     
print(new_list)

[22, 121, 176, 242, 330]

In [47]:
#Q86. Write a Python program to check if a string is palindrome or not.

name=input("Enter a string: ")

rev=name[::-1]
if(name==rev):
 print("Palindrome String")
else:
    print("Not a Palindrome")

Enter a string: mam
Palindrome String

In [75]:
#Q87. Write a Python program to remove i'th element from a string.

ind=int(input("Enter index position u want to remoce: "))

val=name[ind]

new_str=name.replace(val,'')
new_str

Enter index position u want to remoce: 2

'Muesh'

In [82]:
#Q88. Write a Python program to check if a substring is present in a given string.

str="I am the best"
check="best"
if(str.find(check)>0):
  print("Substring present")
else:
      print("Substring Not present")

Substring present

In [85]:
#Q89. Write a Python program to find words which are greater than given length k.

\Need Explanation

In [90]:
#Q90. Write a Python program to extract unquire dictionary values.

d={"Name1":"Mukesh","Name2":"Mukesh","Name3":"Ravi"}
d1=set(d.values())
d1

{'Mukesh', 'Ravi'}

In [95]:
#Q91. Write a Python program to merge two dictionary.

d1={"age":22,"Name":"Mukesh"}
d2={"Dept":"Dev"}

d1.update(d2)
d1

{'age': 22, 'Name': 'Mukesh', 'Dept': 'Dev'}

In [102]:
'''
Q92. Write a Python program to convert a list of tuples into dictionary.

Input : [('Sachin', 10), ('MSD', 7), ('Kohli', 18), ('Rohit', 45)]
Output : {'Sachin': 10, 'MSD': 7, 'Kohli': 18, 'Rohit': 45}
'''
lst= [('Sachin', 10), ('MSD', 7), ('Kohli', 18), ('Rohit', 45)]
dict_1={}
  
for i,j in lst:
    dict_1.setdefault(i, []).append(j)
print(dict_1)

{'Sachin': [10], 'MSD': [7], 'Kohli': [18], 'Rohit': [45]}

In [ ]:
'''
Q93. Write a Python program to create a list of tuples from given list having number and its cube in each tuple.

Input: list = [9, 5, 6]
Output: [(9, 729), (5, 125), (6, 216)]
'''